#Title{
    text-align: center;
    font-family: 'Lucida Grande', Geneva, sans-serif;
}

body{
    background-color: #9fbcdc;
}

#PrintButton{
    
}

#DBWindow{
    align-self: center;
    background-color: #e6e6ff;
    min-width: 500px;
    min-height: 400px;
}

#DBTable{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}

.row{
    width: 16%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#MayoLogo{
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ReagentName{
    align-content: center;
    align-self: center;
}

#Initials{
    align-content: center;
    align-self: center;
}

th:nth-child(odd){
    background-color: #f0f0f0;
}

th:nth-child(even){
    background-color: #b0b0e0;
}

td:nth-child(odd){
    background-color: #f0f0f0;
}

td:nth-child(even){
    background-color: #b0b0e0;
}

