<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="WAT.css">
    <script src="input.js"></script>
</head>
<header>
    <h1 id="Title">Reagent Data</h1>
    <div id="InformationGather">
    <input type="text" placeholder="Scan Barcode" id="DataForDatabase">
    <label for="Month"></label>
        <select name="Month Opened" id="Month">
            <option>Month Opened</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
        </select>
    <label for="Day Opened"></label>
        <select name="Day" id="Day">
            <option>Day Opened</option>
        </select>
        <input type="text" placeholder="Time Opened (Hours and Minutes)" id="ClockfaceTime">
    <label for="ReagentName"></label>
        <select name="ReagentName" id="ReagentName">
            <option>ReagentName</option>
            <option>Reagent1</option>
            <option>Reagent2</option>
            <option>Reagent3</option>
            <option>Reagent4</option>
            <option>Reagent5</option>
            <option>Reagent6</option>
            <option>Reagent7</option>
            <option>Reagent8</option>
            <option>Reagent9</option>
            <option>Reagent10</option>
            <option>Reagent11</option>
            <option>Reagent12</option>
            <option>Reagent13</option>
            <option>Reagent14</option>
            <option>Reagent15</option>
            <option>Reagent16</option>
            <option>Reagent17</option>
            <option>Reagent18</option>
            <option>Reagent19</option>
            <option>Reagent20</option>
            <option>Reagent21</option>
            <option>Reagent22</option>
            <option>Reagent23</option>
            <option>Reagent24</option>
            <option>Reagent25</option>
            <option>Reagent26</option>
            <option>Reagent27</option>
            <option>Reagent28</option>
            <option>Reagent29</option>
            <option>Reagent30</option>
            <option>Reagent31</option>
            <option>Reagent32</option>
            <option>Reagent33</option>
            <option>Reagent34</option>
            <option>Reagent35</option>
            <option>Reagent36</option>
            <option>Reagent37</option>
            <option>Reagent38</option>
            <option>Reagent39</option>
            <option>Reagent40</option>
            <option>Reagent41</option>
            <option>Reagent42</option>
            <option>Reagent43</option>
            <option>Reagent44</option>
            <option>Reagent45</option>
            <option>Reagent46</option>
            <option>Reagent47</option>
        </select>
        <input type="text" placeholder="Initials" id="Initials">
        <button onclick="">Submit</button>
        <button onclick="">Undo</button>
    </div>
</header>
<body>
    <div id="DBWindow">

    </div>
</body>
</html>