
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Homepage.css">
    <link href="app.py" rel="import">
    <script language="javascript" src="input.js"></script>
</head>
<header>
    <h1 id="Title">Reagent Data</h1>
    <form action="/home" method="post" id="InformationGather">
    
    <!--Barcode = <input type="text" onfocus= "focus" placeholder="Scan Barcode" id="Barcode Scanner"> -->
    <button type="button" id="Barcode Scanner" onclick="barcodeIn()">Scan Barcode</button>
    
        <input type="text" placeholder="Time Opened (Hours and Minutes)" id="ClockfaceTime">
        <label for="ReagentName"></label>
        <select name="ReagentName" id="ReagentName">
            
            {% for reagent_name in reagent_names  %}
                <option value="{{ reagent_name }}" method="post">{{ reagent_name }}</option>
            {% endfor %}
            <!-- <option>L1 UF Heparin</option>
            <option>L2 UF Heparin</option>
            <option>L1 LMW Heparin</option>
            <option>L2 LMW Heparin</option>
            <option>Low Fib</option>
            <option>ABN 3</option>
            <option>Factory Diluent (Aliquaot)</option>
            <option>Norm 1</option>
            <option>Diluted Clean B</option>
            <option>R2g</option>
            <option>SynthASil</option>
            <option>CaCl</option>
            <option>D-Dimer reagent</option>
            <option>Dimer Latex</option>
            <option>QFA</option>
            <option>Anti XA</option>
            <option>Anti XA-Sub</option>
            <option>Rinse Solution</option>
            <option>Cleaning Solution</option>
            <option>Factory Diluent (Bottle)</option>
            <option>Cleaning Agent</option>
            <option>L1 ESR Check</option>
            <option>L2 ESR Check</option>
            <option>Anti A</option>
            <option>Anti B</option>
            <option>Anti D (Series 4)</option>
            <option>Anti D (Series 5)</option>
            <option>Monoclonal Control</option>
            <option>Panel Screen 1</option>
            <option>Panel Screen 2</option>
            <option>Panel Screen 3</option>
            <option>A Cells</option>
            <option>B Cells</option>
            <option>Anti IgG</option>
            <option>Poly</option>
            <option>N-Hance</option>
            <option>PeG</option>
            <option>Compliment Control</option>
            <option>Anti C3d</option>
            <option>Ortho Anti D</option>
            <option>Check Cell</option> -->
        </select>
        <input type="text" placeholder="Initials" id="Initials">
        <button onclick="SubmitForm()">Submit</button>
        <button onclick="Undo()">Undo</button>
    </form>
</header>
<body>
    <div id="DBWindow">
        <table id="DBTable">
            <tr>
                <th class="TableRow">ID</th>
                <th class="TableRow">Reagent Name</th>
                <th class="TableRow">Open Date</th>
                <th class="TableRow">Expiration date</th>
                <th class="TableRow">Initials</th>
            </tr>
        </table>
    </div>
</body>
</html>