#Title{
    text-align: center;
}

#DBWindow{
    align-self: center;
    background-color: #e0e0f0;
    min-width: 500px;
    min-height: 400px;
}

.TableRow{
    min-width: 20%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#MayoLogo{
    max-width: 25%;
    max-height: 25%;
}

#ReagentName{
    align-content: center;
    align-self: center;
}

#Initials{
    align-content: center;
    align-self: center;
}

tr:nth-child(odd),th:nth-child(odd){
    background-color: blue;
}

tr:nth-child(even),th:nth-child(odd){
    background-color: teal;
}

tr:nth-child(odd),th:nth-child(even){
    background-color: aquamarine;
}

tr:nth-child(even),th:nth-child(even){
    background-color: navy;
}