
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Homepage.css">
    <link href="app.py" rel="import">
    <script language="javascript" src="input.js"></script>
</head>
<header>
    <img id="MayoLogo" src="mayonayos.png" alt="Mayo Logo">
    <h1 id="Title">Reagent Data</h1>
    <form action="/" method="post" id="InformationGather">
    
    <!--Barcode = <input type="text" onfocus= "focus" placeholder="Scan Barcode" id="Barcode Scanner"> -->
    <button type="button" id="Barcode Scanner" onclick="barcodeIn()">Barcode Search</button>
    
        <input type="text" placeholder="Time Opened (Hours and Minutes)" id="ClockfaceTime">
        <label for="ReagentName"></label>
        <select name="ReagentName" id="ReagentName">
            {% for reagent_name in reagent_names  %}
                <option value="{{ reagent_name }}" method="post">{{ reagent_name }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Initials" id="Initials">
        <input type="submit" value="Submit">
        <button onclick="Undo()">Undo</button>
    </form>
</header>
<body>
    <div id="DBWindow">
        <table id="DBTable">
            <tr>
                <th class="row">UPC</th>
                <th class="row">Reagent Name</th>
                <th class="row">Open Date</th>
                <th class="row">Expiration date</th>
                <th class="row">Initials</th>
                <th class="row">Print</th>
            </tr> # for upc 
            {% for reagent in reagents %}
            <tr><td class="row" data-upc="{{reagent.ID}}">{{reagent.ID}}</td>
                <td class="row" data-upc="{{reagent.Name}}">{{reagent.Name}}</td>
                <td class="row" data-upc="{{reagent.openDate}}">{reagent.openDate}</td>
                <td class="row" data-upc="{{reagent.ExpDate}}"> {{reagent.ExpDate}}</td>
                <td class="row" data-upc="{{reagent.Initials}}">{{reagent.Initials}}</td>
                <td class="row"><button type="button" id="PrintButton">Print</button></td>
            </tr> 
            {% endfor %}
            
        </table>
    </div>
</body>
</html>